[submodule "src/Libs/imgui_wrapper/imgui"]
	path = src/Libs/imgui_wrapper/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/Libs/fjs"]
	path = src/Libs/fjs
	url = https://github.com/MohammadMDSA/fiber-job-system
[submodule "src/Libs/DirectXTK12"]
	path = src/Libs/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12.git
