[submodule "src/Libs/fjs"]
	path = src/Libs/fjs
	url = https://github.com/MohammadMDSA/fiber-job-system
[submodule "src/Libs/DirectXTK12"]
	path = src/Libs/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12.git
[submodule "src/Libs/MemAll"]
	path = src/Libs/MemAll
	url = https://github.com/foonathan/memory
[submodule "src/Libs/imgui_wrapper/implot"]
	path = src/Libs/imgui_wrapper/implot
	url = https://github.com/epezent/implot.git
[submodule "src/Libs/imgui_wrapper/ImGuiFileDialog"]
	path = src/Libs/imgui_wrapper/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
